# App/UI
streamlit>=1.36

# Dados
pandas>=2.2

# PDF parsing (preferencial: pdfplumber; fallbacks: PyPDF2 e PyMuPDF)
pdfplumber>=0.11
pdfminer.six>=20221105
PyPDF2>=3.0.0
PyMuPDF>=1.24   # se der erro no deploy, comente esta linha (o app funciona sem)

# Cotações
yfinance>=0.2.52
requests>=2.31

# Dependências auxiliares
pillow>=10.0.0
tzdata>=2024.1
