# Core
streamlit>=1.33
pandas>=2.2
numpy

# Quotes
yfinance>=0.2.40
lxml>=4.9
requests

# PDF parsing
pdfplumber>=0.10
PyMuPDF>=1.24
PyPDF2>=3.0

# Extras
streamlit-autorefresh>=1.0.1
tzdata
streamlit-aggrid==0.3.4.post3
